@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@theme {
    --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 75rem;
}
body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100vw;
    overflow-x: hidden;
}

/* Nav */
nav {
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;  
    background-repeat: none
}
nav * {
    border-color: #005596;
}

/* nav ul {
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    display: flex;
    color: white;
    padding: 0;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}


nav ul li:has(button) {
    border-right: none;
}

nav ul li:hover {
    background-color: white;
    color: #229EFF;
    font-weight: 500;
}

nav button {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
    font-weight: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    gap: 16px;
} */

a {
    color: inherit;
    text-decoration: none;

}

.logo {
    width: 50%;
    padding: 48px 0;
    display: flex;
    align-items: center;
    border-right: 2px solid #f5deb3;
}

.logo img {
    display: none;
}




/* HERO */
main {
    margin-top: 92px;
    position: relative;
    z-index: 2;
    background: transparent;

    @media (max-width: 900px) {
        margin-top: 88px;
    }
}


.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


#start {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    border-bottom: 2px solid #229EFF;
}

#start article {
    border-right: 2px solid #229EFF;
    width: calc(50% );
    box-sizing: border-box;
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
}

/* #start figure {
    width: 60%;
    display: flex;
} */





/* MISSION */
.mission {
    border-bottom: 2px solid #229EFF;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: flex-end;
    padding-right: 2px;
}
@media (max-width: 1350px) {
    .mission {
        padding-right: 3px;
    }
}

/* .mission figure {
    width:  50%;
} */

.mission article {
    border-left: 2px solid #229EFF;
    width: 50%;
    max-width: 50% ;
    box-sizing: border-box;
    padding: 120px 48px;
    display: flex;
    flex-direction: column;
    /* display: none; */
}


/* Webinars */
.webinars {
    border-bottom: 2px solid #229EFF;
    display: flex;
    padding: 64px 48px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

h3 {
    font-size: 32px;
    margin: 0;
}

.webinars button {
    width: max-content;
    padding: 24px 32px;
    border: 2px solid black;
    box-shadow: 5px 5px 1px black;
    color: inherit;
    background-color: #229EFF;
    font-family: inherit;
    color: inherit;
    outline: none;
    font-weight: inherit;
    font-size: inherit;
    transition: 0.1s;
    cursor: pointer;
}

.webinars button:hover {
    translate: -10px -10px;
    box-shadow: 10px 10px 1px black;

}



/* footer */
/* footer {
    width: 100%;
    padding: 48px;
    display: flex;
    position: relative;
    z-index: 2; */
    /* flex-direction: column; */
    /* gap: 16px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
} */

/* footer p {
    margin: 0;
} *
/


